<%= form_with url: search_path, method: :get, class: 'mb-4' do |form| %>
    <div class="input-group">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Enter movie title' %>
        <button type="submit" class="btn btn-primary">Search a Movie</button>
    </div>
<% end %>
